form {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px auto;
	max-width: 400px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #37f71e;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0400f3;
}


header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}
